<app-header></app-header>

<!-- fragmento -->
<app-sidebar>

    <!-- conteudo da pagina -->
    <section class="layout-content">
        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Lista de Funcionários</span>
                    </li>
                </ul>
                <a class="btn btn-primary btn-md" href="/funcionarios/cadastrar" role="button">
                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                    <span>Cadastrar Funcionários</span>
                </a>
            </div>
        </nav>

        <div class="container">
            <!-- alert -->
            <alert></alert>
            <p>
                <i class="oi oi-magnifying-glass"></i><span></span>
                <button class="btn btn-primary" type="button" (click)="nomeCollapsed = !nomeCollapsed" [attr.aria-expanded]="!nomeCollapsed">Nome
        </button>
                <button class="btn btn-primary" type="button" (click)="cargoCollapsed = !cargoCollapsed" [attr.aria-expanded]="!cargoCollapsed">Cargo
        </button>
                <button class="btn btn-primary" type="button" (click)="departamentoCollapsed = !departamentoCollapsed" [attr.aria-expanded]="!departamentoCollapsed">Datas
        </button>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="collapseNome" [(ngbCollapse)]="nomeCollapsed">

                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline">
                                <input [(ngModel)]="searchNome" class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search" name="nome" />
                                <button class="btn btn-outline-success my-2 my-sm-0" (click)="findAllByName(searchNome)">Search</button>
                            </form>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="collapseCargo" [(ngbCollapse)]="cargoCollapsed">

                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" method="GET" action="/funcionarios/buscar/cargo">
                                <select class="form-control mr-sm-2" name="cargo" aria-label="Search">
                  <option value="">Cargo</option>
                  <option value="1">Auxiliar Contábil</option>
                  <option value="2">Auxiliar Administrativo</option>
                  <option value="3">Contador</option>
                  <option value="4">Adminitrador</option>
                  <option value="5">Programado PHP</option>
                  <option value="6">Desenvolvedor Java Jr.</option>
                  <option value="7">Desenvolvedor Java Pleno</option>
                  <option value="8">Desenvolvedor Java Senior</option>
                  <option value="9">Auxiliar de RH</option>
                  <option value="10">Coordenador de RH</option>
                  <option value="11">Psicologo</option>
                </select>
                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                            </form>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="collapseData" [(ngbCollapse)]="departamentoCollapsed">

                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" method="GET" action="/funcionarios/buscar/data">
                                <input class="form-control mr-sm-2" type="date" aria-label="Search" name="entrada" />
                                <input class="form-control mr-sm-2" type="date" aria-label="Search" name="saida" />
                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                            </form>
                        </nav>

                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Salário</th>
                            <th>Departamento</th>
                            <th>Cargo</th>
                            <th>Endereço</th>
                            <th>Data de Entrada</th>
                            <th>Data de Saída</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let funcionarios of funcionariosDTO">
                            <td>{{ funcionarios.id }}</td>
                            <td>{{ funcionarios.nome }}</td>
                            <td>{{ funcionarios.salario | currency:'BRL' }}</td>
                            <td>{{ funcionarios.cargo.departamento.nome }}</td>
                            <td>{{ funcionarios.cargo.nome }}</td>
                            <td>
                                <!-- "Rua das Oliveiras, 260 Fundos - Centro, Porto Alegre - RS - 97050-015" -->
                                <button type="button" class="btn btn-secondary btn-sm" triggers="mouseenter:mouseleave" popoverTitle="Endereço" ngbPopover="{{ funcionarios.endereco.logradouro
                                      + ', ' + funcionarios.endereco.numero
                                      + ' - CEP: ' + funcionarios.endereco.cep
                                      + ' - ' + funcionarios.endereco.bairro
                                      + ' - ' + funcionarios.endereco.cidade
                                      + '/' + funcionarios.endereco.uf
                                      + ' - Compl.: ' + funcionarios.endereco.complemento}}">
                  <span class="oi oi-eye"></span>
                </button>
                            </td>
                            <td>{{ funcionarios.dataEntrada | date:'dd/MM/yyyy'}}</td>
                            <td>{{ funcionarios.dataSaida | date:'dd/MM/yyyy' }}</td>
                            <td colspan="2">
                                <a class="btn btn-info btn-sm" (click)="edit( funcionarios.id )" role="button">
                                    <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                                </a>
                                <button (click)="openConfirmationDialog(funcionarios.id)" id="btn_funcionarios/excluir/1" type="button" class="btn btn-danger btn-sm">
                  <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</app-sidebar>

<!-- footer -->
<app-footer></app-footer>