<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button [class.active]="toggleActive" (click)="toggleDrawer()" type="button" class="btn btn-dark navbar-toggle pull-left">
                <i class="oi oi-menu"></i>
            </button>
                <a class="navbar-brand " href="/home">Curso Spring Boot+Thymeleaf | Contributions: Spring Security+JWT+Angular</a>
            </div>
        </div>
        <div>
            <div>
                <a class="navbar-brand" href="" (click)="logout()">Logout <span class="oi oi-account-login"></span></a>
            </div>
        </div>
    </nav>
</header>
